# Bootcamp DataScience iHub

## Gasto de deputados por gênero

### Etapas: 
    1. Abrir os datasets do [link]: http://dontpad.com/thaisviana/datascience
    2. Calcular o gasto por cada deputado em 2018
    3. Descobrir quem são os deputados em 2018 no nosso dataset
    4. Filtrar o dataset de informações de deputados pelos deputados na lista do item 3
    5. Criar um dataset novo com as colunas NOME, GENERO, GASTO
    6. Calcular qual genero gasta mais em média por número de agentes públicos

In [2]:
import pandas as pd
import numpy as np

In [5]:
df_2018 = pd.read_csv('data/Ano-2018.csv', sep=';', parse_dates=['datEmissao'])

In [12]:
df_infos = pd.read_csv('data/deputados.csv', sep=';')

## Gasto por cada deputado em 2018

In [45]:
df_2018 = df_2018[pd.isna(df_2018['sgPartido']) == False]
gasto = df_2018.groupby(['txNomeParlamentar'])['vlrDocumento'].sum()
gasto

txNomeParlamentar
ABEL MESQUITA JR.       531047.71
ADAIL CARNEIRO          546244.27
ADALBERTO CAVALCANTI    497902.97
ADELMO CARNEIRO LEÃO    378203.93
ADELSON BARRETO         333038.13
                          ...
ZÉ CARLOS               484381.83
ZÉ GERALDO              505529.11
ZÉ SILVA                384928.09
ÁTILA LINS              437089.95
ÁTILA LIRA              452594.23
Name: vlrDocumento, Length: 555, dtype: float64

##  Deputados em 2018 no nosso dataset

In [20]:
lista_de_nomes = df_2018.txNomeParlamentar.unique()

In [23]:
#gasto.index

## Filtrar o dataset de info de deputados pelos deputados na lista

In [73]:
df_nome_genero = df_infos[df_infos['nome'].isin(lista_de_nomes) == True]

In [77]:
df_nome_genero = df_nome_genero[['nome', 'siglaSexo']]
df_nome_genero.drop_duplicates(subset='nome', keep='first', inplace=True)
df_genero = df_nome_genero

In [63]:
df_nome_genero = df_nome_genero.sort_values(by='nome', ascending=True)
df_nome_genero = df_nome_genero.set_index('nome')
df_nome_genero

                     siglaSexo
nome
ABEL MESQUITA JR.            M
ADAIL CARNEIRO               M
ADALBERTO CAVALCANTI         M
ADELMO CARNEIRO LEÃO         M
ADELSON BARRETO              M
...                        ...
ZÉ CARLOS                    M
ZÉ GERALDO                   M
ZÉ SILVA                     M
ÁTILA LINS                   M
ÁTILA LIRA                   M

[554 rows x 1 columns]

In [57]:
pd.concat([gasto, df_nome_genero], axis=1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                      vlrDocumento siglaSexo
ABEL MESQUITA JR.        531047.71         M
ADAIL CARNEIRO           546244.27         M
ADALBERTO CAVALCANTI     497902.97         M
ADELMO CARNEIRO LEÃO     378203.93         M
ADELSON BARRETO          333038.13         M
...                            ...       ...
ZÉ CARLOS                484381.83         M
ZÉ GERALDO               505529.11         M
ZÉ SILVA                 384928.09         M
ÁTILA LINS               437089.95         M
ÁTILA LIRA               452594.23         M

[555 rows x 2 columns]

## AGORA COM MERGE

In [64]:
gasto_merge = gasto

In [69]:
gasto_merge = gasto_merge.reset_index()
gasto_merge = gasto_merge.merge(df_genero, left_on='txNomeParlamentar', right_on='nome')